<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Number Guesser</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>


<body style="margin:30; padding:30">

<h1>Welcome! Here AI will try to guess your number</h1>

<h3>Draw your number here</h3>

<canvas id="myCanvas" width="280" height="280" ></canvas>

<br>

<input type="button"
       style="font-size: 18px; margin-top:20px; margin-left:45px"
       value="Submit" onClick="getAnswer()"></input>

<button type="reset"
        style="margin-top:10px; margin-left:55px; font-size: 18px"
        onClick="resetCanvas()">Clear</button>

<div id="myAnswerHolder"></div>

<p style="color: white; font-size: 24px">
    Note that we are saving all submitted images for further<br>
    training of our neural networks. So be careful with what you draw ;)
</p>

</body>

<!-- AJAX part that sends image data to server and gets answer -->
<script th:inline="javascript">
    const getAnswer = () => {

        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var imgData = context.getImageData(0, 0, canvas.width, canvas.height);
        var pix = imgData.data;
        var grayScaleInput = []; // convert rgb input to grayscale image
        for (var i = 0, n = pix.length; i < n; i += 4) {
            grayScaleInput[i/4] = (pix[i] + pix[i+1] + pix[i+2]) / (255.0*3) // 4th element is 'alpha'
        }

        let buffer = grayScaleInput.toString(grayScaleInput);

        fetch('getAnswerFromServer', {
            method:'post',
            body : buffer
        }).then(function (response) {
            return response.text();
        }).then(function (html) {
            console.log(html)
            document.getElementById("myAnswerHolder").innerHTML = html;
            setOpacity();
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    }
</script>

<!-- Change opacities -- the brighter it is, the more confident is the network about the answer -->
<script th:inline="javascript">
    function setOpacity() {
        var output = document.getElementById("outputVector").value;
        var opacities = output.split(",");
        for(var i = 0; i < opacities.length; i++){
            var style = document.createElement('style');
            style.type = 'text/css';
            let dot = '.';
            let text1 = 'cssClass'
            let ID = String(i);
            let cssClass = text1.concat(ID); // i need to have different dynamic css classes
            let text2 = dot.concat(cssClass, ' { opacity: ');
            var opacityLevel = opacities[i];
            let result = text2.concat(opacityLevel, '; color: white; font-size: 32px; }');
            style.innerHTML = result;
            document.getElementsByTagName('span')[i].appendChild(style);

            let spans = 'sp';
            let spansID = spans.concat(ID);
            document.getElementById(spansID).className = cssClass;
        }
    };
</script>

<!-- Our Canvas -->
<script th:inline="javascript">

    var canvas = document.getElementById('myCanvas');
    document.body.style.margin = 0;

    // to account for the canvas offset
    var rect = canvas.getBoundingClientRect();

    // get canvas 2D context and set him correct size;
    var context = canvas.getContext('2d');
    context.canvas.width = 280; // px
    context.canvas.height = 280;
    context.fillStyle = '#000000';
    context.fillRect(0, 0, 280, 280);
    context.lineWidth = 20;
    context.lineCap = 'round';
    context.strokeStyle = '#ffffff';

    var isIdle = true;
    function drawstart(event) {
        context.beginPath();
        context.moveTo(event.pageX - canvas.offsetLeft, event.pageY - canvas.offsetTop);
        isIdle = false;
    }
    function drawmove(event) {
        if (isIdle) return;
        context.lineTo(event.pageX - canvas.offsetLeft, event.pageY - canvas.offsetTop);
        context.stroke();
    }
    function drawend(event) {
        if (isIdle) return;
        drawmove(event);
        isIdle = true;
    }
    function touchstart(event) { drawstart(event.touches[0]) }
    function touchmove(event) { drawmove(event.touches[0]); event.preventDefault(); }
    function touchend(event) { drawend(event.changedTouches[0]) }

    canvas.addEventListener('touchstart', touchstart, false);
    canvas.addEventListener('touchmove', touchmove, false);
    canvas.addEventListener('touchend', touchend, false);

    canvas.addEventListener('mousedown', drawstart, false);
    canvas.addEventListener('mousemove', drawmove, false);
    canvas.addEventListener('mouseup', drawend, false);

    function resetCanvas(){
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.fillRect(0, 0, 280, 280);
    }
</script>

</html>