<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Number Guesser</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>


<body style="margin:30; padding:30">

<h1>Welcome! Here AI will try to guess your number</h1>

<h3>Draw your number here</h3>

<canvas id="myCanvas" width="280" height="280" ></canvas>

<button type="reset"
        style="margin-top:290px; margin-left:115px; font-size: 18px"
        onClick="resetCanvas()">Clear</button>

<br>

<form th:action="@{/}" method="POST">

    <h3 style="margin-left:-5px">Select the AI model:</h3>`

    <Label style="color:white;margin-left:-20px;font-size: 18px">
        <input type="radio" th:field="${NeuralNetwork.chosenNetworkModel}" th:value="PyTorch"/>PyTorch (91% accuracy)
    </Label>
    <Label style="color:white; margin-left:0px;font-size: 18px">
        <input type="radio" th:field="${NeuralNetwork.chosenNetworkModel}" th:value="MyModel"/>My model (89% accuracy)
    </Label>

    <br><br>

    <input type="hidden" th:id="passPixelsToServer" th:field="${DrawnImages.rawPixelInput}" />

    <input type="submit" style="font-size: 18px" value="Submit" onClick="passImageData()" />

</form>

<h1>Answer:<span th:text="${NeuralNetwork.answer}" /> </h1>

<p style="color: white; font-size: 18px">
    Note that we are saving all submitted images for further<br>
    training of our neural networks. So be careful with what you draw ;)
</p>

</body>

<!-- Our Canvas that is written in JS; I took it from here: https://stackoverflow.com/a/30684711/24522071 -->
<script th:inline="javascript">
    var canvas = document.getElementById('myCanvas');

    // some hotfixes... ( ≖_≖)
    document.body.style.margin = 0;
    canvas.style.position = 'fixed';

    // to account for the canvas offset
    var rect = canvas.getBoundingClientRect();

    // get canvas 2D context and set him correct size;
    // i will go with fixed size, for adaptive full-window-sized canvas check the link
    var ctx = canvas.getContext('2d');
    //resize();
    ctx.canvas.width = 280; // px
    ctx.canvas.height = 280;
    ctx.fillStyle = '#000000';
    ctx.fillRect(0, 0, 280, 280);

    // last known position
    var pos = { x: 0, y: 0 };

    //window.addEventListener('resize', resize);
    document.addEventListener('mousemove', draw);
    document.addEventListener('mousedown', setPosition);
    document.addEventListener('mouseenter', setPosition);

    // new position from mouse event
    function setPosition(e) {
      pos.x = e.clientX - rect.left;
      pos.y = e.clientY - rect.top;
    }

    // resize canvas
    /*function resize() {
      ctx.canvas.width = window.innerWidth;
      ctx.canvas.height = window.innerHeight;
    }*/

    function draw(e) {
      // mouse left button must be pressed
      if (e.buttons !== 1) return;

      ctx.beginPath(); // begin

      ctx.lineWidth = 20;
      ctx.lineCap = 'round';
      ctx.strokeStyle = '#ffffff';

      ctx.moveTo(pos.x, pos.y); // from
      setPosition(e);
      ctx.lineTo(pos.x, pos.y); // to

      ctx.stroke(); // draw it!
    }

    function resetCanvas(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.fillRect(0, 0, 280, 280);
    }

    function passImageData(){
        var context = canvas.getContext('2d');
        // Get the CanvasPixelArray from the given coordinates and dimensions.
        var imgData = context.getImageData(0, 0, canvas.width, canvas.height);
        var pix = imgData.data;
        var grayScaleInput = [];
        for (var i = 0, n = pix.length; i < n; i += 4) {
            grayScaleInput[i/4] = (pix[i] + pix[i+1] + pix[i+2]) / (255.0*3) // rgb channel, and 4th element is 'alpha'
        }

        document.getElementById('passPixelsToServer').value = grayScaleInput;
    }
</script>

</html>